.button{
    margin-top: 1.3rem;
    background-color: #B88E2F;
    color: white;
    border: none;
    font-size: 0.75rem;
    width: 10rem;
    padding: 1rem; 
    font-family: 'poppins', sans-serif;
}