.shop-banner-container{
    background-image: url('../../assets/Shop/banner.png');
    background-size: cover;           // makes the image cover the full div
    background-position: center;      // centers the image
    background-repeat: no-repeat;     // prevents tiling
    height: 30vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .title-text{
            font-size: 2rem;
        }

        .info{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px ;
        }
    }
}