.billing_details_container{
    padding: 5rem ;

    .billing_details_heading{
        font-size: 25px;
        font-weight: 600;
    }

    .order_and_customer_info{
        margin-top: 40px;
        box-sizing: border-box;
        padding: 1rem 0rem;
        display: grid;
        grid-template-columns: 1fr 1fr;  
        gap: 5rem;   
            
        .customer_info{
            grid-column: 1/2;
            display: flex;
            flex-direction: column;
            gap: 1rem ;

            .name{
                display: grid;
                grid-template-columns: auto auto;
                gap: 1.5rem;

                div:nth-child(1){
                    grid-column: 1/2;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                
                    input{
                        padding: 13px 0px 13px 0px;
                        border: 1px solid #9F9F9F;
                        border-radius: 8px ;
                        margin-bottom: 10px;
                    }
                    
                    label{
                        font-size: 12px;
                        font-weight: 600;
                    }

                    div{
                        margin-top: -20px;
                    }        
                }

                div:nth-child(2){
                    grid-column: 2/3;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                
                    input{
                        padding: 13px 0px 13px 0px;
                        border: 1px solid #9F9F9F;
                        border-radius: 8px ;
                        margin-bottom: 10px;
                    }
                    
                    label{
                        font-size: 12px;
                        font-weight: 600;
                    }

                    div{
                        margin-top: -20px;
                    }
                }

                @media screen and (max-width: 425px) {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    div:nth-child(1){
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                    
                        input{
                            padding: 13px 0px 13px 0px;
                            border: 1px solid #9F9F9F;
                            border-radius: 8px ;
                            margin-bottom: 10px;
                        }
                        
                        label{
                            font-size: 12px;
                            font-weight: 600;
                        }

                        div{
                            margin-top: -20px;
                            margin-bottom: 15px;
                        }        
                    }

                    div:nth-child(2){
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                    
                        input{
                            padding: 13px 0px 13px 0px;
                            border: 1px solid #9F9F9F;
                            border-radius: 8px ;
                            margin-bottom: 10px;
                        }
                        
                        label{
                            font-size: 12px;
                            font-weight: 600;
                        }

                        div{
                            margin-top: -20px;
                        }
                    }    
                }
            }

            div{
                display: flex;
                flex-direction: column;
                gap: 1rem;
            
                input{
                    padding: 13px 10px 13px 25px;
                    border: 1px solid #9F9F9F;
                    border-radius: 8px ;
                    margin-bottom: 10px;
                }

                div{
                    margin-top: -20px;
                }
            }

            label{
                font-size: 12px;
                font-weight: 600;
            }

            div{
                select {
                    padding: 13px 0rem 13px 20px; /* right padding gives space for arrow */
                    border: 1px solid #9F9F9F;
                    border-radius: 8px;
                    margin-bottom: 10px;
                    color: #9F9F9F;
                    appearance: none;              /* remove native arrow */
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url("data:image/svg+xml;utf8,\
                    <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'/></svg>");
                    background-repeat: no-repeat;
                    background-position: right 30px center; /* position your arrow */
                    background-size: 18px;
                    background-color: #fff; /* Optional: set background */
                }
                    
            }
        }
        
        .order_info{
            grid-column: 2/3;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .total_amount_info{
                margin-top: -40px;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                div:nth-child(1){
                    display: flex;
                    justify-content: space-between;
                    span{
                        font-size: 20px;
                        font-weight: 600;
                    }
                }

                div:nth-child(2){
                    display: flex;
                    justify-content: space-between;
                    
                    div:nth-child(1){
                        display: flex;
                        gap: 10px;

                        span{
                            font-size: 12px;
                        }
                        span:nth-child(1){
                            color:#9F9F9F;
                        }
                    }
                    
                    span{
                        font-size: 12px;
                    }
                }

                div:nth-child(3){
                    display: flex;
                    justify-content: space-between;
                    
                    span{
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
                
                div:nth-child(4){
                    display: flex;
                    justify-content: space-between;
                    
                    span:nth-child(1){
                        font-size: 12px;
                        font-weight: 400;
                    }

                    span:nth-child(2){
                        color: #B88E2F;
                        font-weight: 600;    
                    }
                }
            }

            .payment_info{
                div{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    div{
                        display: flex;
                        flex-direction: column;

                        label{
                            display: flex;
                            gap: 10px;
                            font-size: 12px;
                            color: #9F9F9F;
                        }
                    }
                    p{
                        line-height: 1.5;
                        font-size: smaller;
                        color: #9F9F9F;
                    }

                    p:nth-child(3){
                        color: black;
                        b{
                            color: black;
                        }
                    }
                }
            }

            div:nth-child(4){
                display: flex;
                justify-content: center;
                align-items: center;

                button{
                    background-color: white;
                    width: 50%;
                    justify-self: center;
                    color: black;
                    padding: 10px 20px;
                    border: 2px solid black;
                    font-size: 15px;
                    margin-top: 1rem;
                    border-radius: 10px;

                    @media screen and (max-width: 900px) {
                        width: 65%;
                        font-size: 12px;
                        padding: 10px ;
                    }    
                }
            }
            
        }        
        
    }

    @media screen and (max-width: 768px) {
        padding: 3rem 3rem 2rem 3rem ;
        .order_and_customer_info{
            display: grid;
            grid-template-columns: 100%;
            .customer_info{
                grid-column: 1/2;
            }
            .order_info{
                grid-column: 1/2;
            }
        }
    }
    
}