.product-comparison-card-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    
    &.selected-animated-gradient {
        background-image: linear-gradient(to right, #c0c0c0 0%, #f0f0f0 50%, #c0c0c0 100%);
        background-size: 200% auto; // Make the background twice as wide
        background-clip: padding-box;
        border-radius: 10px; 
        
        animation: moveGradient 3s linear infinite;
    }
    
    .img-section {
        background-color: #F9F1E7;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 250px; 
        overflow: hidden; 
    
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain; // keep aspect ratio
          border-radius: 10px;
        }
    }

    .text-section{
        display: flex;
        flex-direction: column;
        gap:5px;
        margin-left: 10px;

        span:nth-child(1){
            font-size: large;
        }

        span:nth-child(2){
            font-size: small;
        }
    }

    
    @keyframes moveGradient {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }
    
    @media screen and (max-width: 768px) {
        .img-section{
            height: 170px ;
        }
    }
}