.product-comparison-card-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    
    .img-section {
        background-color: #F9F1E7;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 250px; 
        overflow: hidden; 
    
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain; // keep aspect ratio
          border-radius: 10px;
        }
    }

    .text-section{
        display: flex;
        flex-direction: column;
        gap:5px;

        span:nth-child(1){
            font-size: large;
        }

        span:nth-child(2){
            font-size: small;
        }
    }

    @media screen and (max-width: 768px) {
        .img-section{
            height: 170px ;
        }
    }
}