.img-container01{ 
    background-image: url('../../../assets/home/background01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 3rem;
    margin-bottom: 2rem;
}
